target
.idea
*.iml
*.log
.classpath
.project
.settings
deployments
orders-service/ObjectStore/
deployment/kubernetes/istio/istio-0.*
temp/

# folders that will be revealed later durin the journey
backend-v1/
backend-v2/
tm-ui-v2/
orders-service/
deployment/
dynatrace-oneagent-operator/cr_.yaml
