target
.idea
*.iml
*.log
.classpath
.project
.settings
deployments
orders-service/ObjectStore/
deployment/kubernetes/istio/istio-0.*
temp/

# folders that will be revealed later durin the journey
orders-service/
deployment/
dynatrace-oneagent-operator/cr_.yaml
tm-ui-v1/httpd.conf
tm-ui-v1/loadgen.sh
tm-ui-v1/httpd_orig.conf
tm-ui-v2-error/
istio/
monolith/_*
*_.*